.img-table img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}
/* Center all text in table headers and cells */
table th, table td {
    text-align: center; /* Horizontal alignment */
    vertical-align: middle; /* Vertical alignment */
}

/* Style the button at the bottom */
button {
    background-color: #ff6363;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #ff4b4b;
}
.ordembutton {
    color:#8b2435 !important;
    font-weight: 600 !important;

}